QDialog {
    background-color: black;
}
QTextEdit {
    background-color: black;
    color: white;
    border: none;
    font-family: Consolas;
    font-size: 10pt;
    selection-background-color: #333;
}
QTextEdit[command="suggest"] {
    color: green;
}